<div class="logo-box">
    <a href="~/home" class="logo text-center">
        <span class="logo-lg">
            <img src="../../images/logo_top_600.png" alt="" height="56">
        </span>
        <span class="logo-sm">
            <img src="../../images/logo_sm2.png" alt="" height="56">
        </span>
    </a>
</div>
