
<!-- Bootstrap -->
<link rel="stylesheet" href="../../Content/metis/lib/bootstrap/css/bootstrap.css">

<!-- Font Awesome -->
<link rel="stylesheet" href="../../Content/metis/lib/font-awesome/css/font-awesome.css">

<!-- Metis core stylesheet -->
<link rel="stylesheet" href="../../Content/metis/css/main.css">

<!-- metisMenu stylesheet -->
<link rel="stylesheet" href="../../Content/metis/lib/metismenu/metisMenu.css">

<!-- onoffcanvas stylesheet -->
<link rel="stylesheet" href="../../Content/metis/lib/onoffcanvas/onoffcanvas.css">

 <!--Bootstrap -->
<script src="../../Content/metis/lib/bootstrap/js/bootstrap.js"></script>


<div class="collapse navbar-collapse navbar-ex1-collapse">

    <!-- .nav -->
    <ul class="nav navbar-nav">
        <li class='dropdown'>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Tranfer Clients <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="~/TransferEstimate/Index">Transfer Estimate</a></li>
                <li><a href="~/TransferInfo/Index">Transfer Info</a></li>
            </ul>
            
        </li>
        <li><a href="~/Calendar/Index">Calendar</a></li>
        <li class='dropdown'>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Destination <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="~/Destination/Index">Destination</a></li>
                <li><a href="~/TypeDestination/Index">Type Destination</a></li>
            </ul>
        </li>
    </ul>
    <!-- /.nav -->
</div>


