<a href="~/home" class="navbar-brand hidden-xs hidden-sm">
    <img src="~/images/NomeAzzores.png" class="logo hidden-xs" alt="Azurre logo">
    <img src="~/images/Z.png" class="logo-sm hidden-lg hidden-md" alt="Dynamic logo">
</a>