<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CrystalReports.Engine" version="13.0.4000" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.ClientDoc" version="13.0.4000" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.CommLayer" version="13.0.4000" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.CommonControls" version="13.0.4000" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.CommonObjectModel" version="13.0.4000" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.Controllers" version="13.0.4000" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.CubeDefModel" version="13.0.4000" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.DataDefModel" version="13.0.4000" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.DataSetConversion" version="13.0.4000" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.ObjectFactory" version="13.0.4000" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.Prompting" version="13.0.4000" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.ReportDefModel" version="13.0.4000" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.XmlSerialize" version="13.0.4000" targetFramework="net48" />
  <package id="CrystalReports.Shared" version="13.0.4000" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="log4net" version="1.2.10" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="4.7.0" targetFramework="net48" />
  <package id="System.Linq.Dynamic" version="1.0.8" targetFramework="net48" />
  <package id="System.Net.Http" version="2.0.20126.16343" targetFramework="net48" />
  <package id="System.Net.Http.Formatting.Extension" version="5.2.3.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net48" />
  <package id="System.Security.Permissions" version="4.7.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net48" />
  <package id="WinSCP" version="5.17.8" targetFramework="net48" />
</packages>