
@{
    Layout = null;
}

<!-- Start Modal -->
<div class="modal-dialog">
    <div class="modal-content">
        <!-- Header -->
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Titulo Aqui</h4>
        </div>

        <!-- Body -->
        <div class="modal-body">
        </div>

        <!-- Footer -->
        <div class="modal-footer">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-danger" />
                    <input type="button" value="Cancelar" class="btn btn-default" data-dismiss="modal" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}